    * {
        margin: 0;
        padding: 0;
        outline: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: black;
    }
    /* Menu Responsivo*/
    
    .navbar {
        border-bottom: 5px solid #C68A02;
    }
    
    nav {
        position: relative;
        width: 100%;
        margin: 0 auto;
        background: #000000;
        z-index: 1;
        text-align: right;
    }
    
    .logo {
        width: 15%;
        float: left;
        text-align: left;
        padding: 5px 25px;
    }
    
    .menu-area li {
        display: inline-block;
        list-style-type: none;
    }
    
    .menu-area a {
        background-color: black;
        -webkit-transition: background-color 0.5s ease-out;
        transition: background-color 0.5s ease-out;
        color: #fff;
        font-weight: 900;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: block;
        padding: 15px 30px;
        font-size: 75%;
        line-height: 30px;
        position: relative;
        z-index: 1;
        text-decoration: none;
    }
    
    .menu-area a:hover {
        background-color: #C68A02;
    }
    
    .navbar .logo img {
        max-width: 100px;
        max-height: 10%;
    }
    
    .navbar .icon-bar {
        width: 100%;
        height: 50px;
        display: none;
        background-color: black;
        border-bottom: 3px solid black;
    }
    
    .navbar .button-menu {
        padding: 5px 10px;
        height: 100%;
    }
    /* Fim do menu */
    /* Inicio do Carrousel de imagem */
    
    .container-carousel {
        width: 100%;
        height: 500px;
        border-right: 50px solid #FAC710;
        border-left: 50px solid #FAC710;
        border-top: 25px solid #fcd340;
        border-bottom: 30px solid #fcd340;
    }
    
    .mySlides {
        display: none;
        width: 100%;
        height: 450px;
    }
    
    .linha {
        width: 100%;
        height: 5px;
        background-color: #C68A02;
    }
    /* Fim do Carroussel da imagem*/
    /* Lista de imagem */
    
    .container-geral-lista {
        width: 100%;
        height: 510px;
        background-color: #C68A02;
        margin: auto;
        border-top: 5px solid #C68A02;
        border-bottom: 5px solid #C68A02;
    }
    
    .container-lista {
        width: 90%;
        height: 500px;
        background: #fcd340;
        margin: auto;
        border-radius: 100px;
    }
    
    .container-lista .titulo {
        width: 100%;
        height: 100px;
        padding-top: 1%;
        border-radius: 100px 100px 0px 0px;
        background-color: #FAC710;
        text-align: center;
        font-size: 25px;
        color: black;
        text-shadow: 1px 15px 5px #C68A02;
    }
    
    .lista .botao-seta {
        position: absolute;
        margin: 125px 10px;
        cursor: pointer;
        display: left;
        justify-content: center;
    }
    
    .img-lista {
        width: 18%;
        height: 350px;
        padding-top: 1%;
        padding-left: 2%;
        justify-content: center;
        opacity: 1;
        transition: 0.3s ease-in;
    }
    
    .img-lista .fica {
        display: left;
    }
    
    .img-lista .cel-sumir {
        display: left;
    }
    
    .img-lista .tab-sumir {
        display: left;
    }
    
    .img-lista:hover {
        opacity: 0.66;
        transition: opacity 0.3s ease-out;
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
        cursor: pointer;
    }
    
    .botao-seta {
        width: 6%;
        height: 10%;
        padding: 0.3%;
        background-color: #ff7700;
        -webkit-transition: background-color 0.1s ease-out;
        transition: background-color 0.1s ease-out;
        border: 2px solid black;
        border-radius: 100%;
    }
    
    .botao-seta:hover {
        background-color: rgb(116, 59, 9);
    }
    
    .botao-seta img {
        width: 100%;
        height: 100%;
    }
    
    .img-lista .tab-sumir {
        display: left;
    }
    /* Fim da lista */
    /* Parte forum e chat*/
    
    .container-geral-forum {
        width: 100%;
        height: 430px;
        background-color: #C68A02;
        margin: auto;
        border-top: 5px solid #C68A02;
        border-bottom: 5px solid #C68A02;
    }
    
    .container-forum {
        width: 90%;
        height: 420px;
        background: #fcd340;
        margin: auto;
        border-radius: 100px;
    }
    
    .imagem-forum {
        width: 50%;
        padding: 1% 4%;
        display: block;
        float: left;
    }
    
    .imagem-forum img {
        width: 100%;
        height: 350px;
        border-radius: 510px;
    }
    
    .texto-forum {
        width: 50%;
        padding: 4% 7%;
        display: block;
        float: left;
        text-align: center;
    }
    
    .texto-forum h1 {
        background-color: #FAC710;
        text-shadow: 1px 5px 5px #C68A02;
        padding: 2% 10%;
        border-radius: 10px;
        margin-bottom: 10%;
    }
    
    .texto-forum p {
        margin-bottom: 10%;
    }
    
    .texto-forum .botao-forum {
        background-color: black;
        border-radius: 10px;
        border: 5px solid black;
        color: white;
        padding: 2% 7%;
        cursor: pointer;
    }
    
    .texto-forum .botao-forum:hover {
        background-color: white;
        border: 5px solid white;
        color: #000000;
    }
    /* Fim parte chat e forum*/
    /* Lista de filmes pagina*/
    
    .container-lista-grande {
        width: 100%;
        height: 1730px;
        background-color: #C68A02;
        margin: auto;
        border-top: 5px solid #C68A02;
        border-bottom: 5px solid #C68A02;
    }
    
    .container-lista-grande .titulo {
        width: 100%;
        height: 100px;
        padding-top: 1%;
        border-radius: 100px 100px 0px 0px;
        background-color: #FAC710;
        text-align: center;
        font-size: 25px;
        color: black;
        text-shadow: 1px 15px 5px #C68A02;
    }
    
    .container-lista-filmes {
        width: 90%;
        height: 1720px;
        background: #fcd340;
        margin: auto;
        border-radius: 100px;
        text-align: center;
    }
    
    .container-lista-filmes .botao-random {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        border: 5px solid black;
        background-color: #ff7700;
        -webkit-transition: background-color 0.5s ease-out;
        transition: background-color 0.5s ease-out;
    }
    
    .container-lista-filmes .botao-random:hover {
        background-color: #b35300;
    }
    
    .container-lista-filmes .botao-random img {
        width: 100%;
        padding: 5px;
    }
    /* Fim lista de filmes pagina*/
    /* Pagina sobre*/
    
    .container-sobre {
        width: 95%;
        height: 1050px;
        padding-top: 30px;
        margin: auto;
    }
    
    .container-geral-sobre {
        background-color: #FAC710;
        border-radius: 0px 0px 100px 100px;
    }
    
    .container-sobre .titulo {
        width: 100%;
        height: 100px;
        padding-top: 1%;
        border-radius: 100px 100px 0px 0px;
        background-color: #FAC710;
        text-align: center;
        font-size: 25px;
        color: black;
        text-shadow: 1px 15px 5px #C68A02;
    }
    
    .botoes-redes {
        width: 100%;
        height: 160px;
        padding: 5%;
    }
    
    .redes-sociais {
        border: 5px solid black;
        background-color: #FAC710;
        width: 20%;
        height: 85%;
        border-radius: 100%;
        float: left;
        margin: 0% 5%;
    }
    
    .redes-sociais:hover {
        background-color: #C68A02;
    }
    
    .redes-sociais img {
        width: 90%;
        height: 90%;
    }
    /* Fim pagina sobre*/
    /* Início formulário login */
    
    .login-background {
        background-image: url("../img/background-login.jpg");
        background-size: 100%;
    }
    
    .formularioCadastro .container-login {
        width: 80%;
        margin: auto;
        background-color: rgba(240, 164, 0, 0.7);
        border-radius: 10px;
        margin-bottom: 100px;
        text-align: center;
    }
    
    .formularioCadastro .container-login h1 {
        background-color: #b35300;
        border-radius: 10px 10px 0px 0px;
    }
    
    .formularioLogin {
        width: 40%;
        margin: 10px auto;
        display: block;
        background-color: rgba(240, 164, 0, 0.7);
        margin-top: 10%;
        margin-bottom: 100px;
        border-radius: 20px;
        box-shadow: 6px 6px #b35300;
        padding: 20px;
    }
    
    .areaBtnLogin span {
        text-decoration: underline;
        cursor: pointer;
    }
    
    .areaBtnLogin span:hover {
        color: rgb(27, 27, 27);
        text-decoration: underline;
        cursor: pointer;
    }
    
    .form-input:hover {
        border-color: yellow;
        transition: 0.7s;
    }
    
    .form-input {
        display: block;
        width: 90%;
        margin-left: 5%;
        margin-top: 10px;
        height: 30px;
        padding-left: 10px;
        /* border:solid 2px rgb(27, 196, 27); */
        border-radius: 8px;
    }
    
    .formularioLogin input {
        margin-bottom: 5%;
    }
    
    .form-meio {
        margin: 0% 5%;
        margin-top: 10px;
        height: 30px;
        border-radius: 8px;
        width: 39.0%;
        display: left;
    }
    
    .areaBtnLogin {
        padding: 15px;
        text-align: center;
        align-items: center;
    }
    
    .btnLoginEntrar {
        margin: 0px 50px;
        padding: 10px 50px;
        background-color: #ff7700;
        border: none;
        border-radius: 5px;
        color: black;
        cursor: pointer;
    }
    
    .divBtnCadastro .botaoCadastro {
        background-color: #b35300;
        font-weight: 600;
        border: 2px solid black;
        border-radius: 5px;
        padding: 10px 20px;
        margin-bottom: 30px;
        -webkit-transition: background-color 0.5s ease-out;
        transition: background-color 0.5s ease-out;
    }
    
    .tituloCadastro {
        background-color: #ff7700;
        padding: 15px 0px;
        text-shadow: 2px 6px 6px #7e3d04;
    }
    
    .divBtnCadastro .botaoCadastro:hover {
        background-color: #ff7700;
    }
    
    .btnLoginEntrar:hover {
        background-color: #b35300;
    }
    /* Fim formulário login */
    /*Parte footer*/
    
    .footer {
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(36, 37, 37);
        color: white;
        text-align: center;
    }
    /*Fim footer*/
    
    @media only screen and (max-width: 660px) {
        .navbar ._Menus-show {
            left: 0;
            display: none;
        }
        nav {
            text-align: center;
        }
        .menu-area li {
            padding: 10px 0px;
            display: unset;
            list-style-type: unset;
        }
        .logo {
            display: none;
        }
        .navbar .icon-bar {
            display: block;
        }
        .container-carousel {
            height: 250px;
        }
        .mySlides {
            height: 200px;
        }
        .img-lista {
            width: 45% !important;
        }
        .cel-some {
            display: none;
        }
        .texto-forum {
            float: none;
            width: 100%;
        }
        .imagem-forum {
            float: none;
            width: 100%;
        }
        .container-geral-forum {
            width: 100%;
            height: 760px;
        }
        .container-forum {
            width: 90%;
            height: 740px;
        }
        .container-sobre {
            height: 1650px;
        }
    }
    
    @media only screen and (max-width: 880px) {
        .img-lista {
            width: 22%;
        }
        .tab-sumir {
            display: none;
        }
    }
    
    @media only screen and (min-width: 1500px) {
        .container-carousel {
            height: 600px;
        }
        .mySlides {
            height: 545px;
        }
        .img-lista .sumir {
            display: left;
        }
    }
    
    .espaco {
        width: 100%;
        height: 1000px;
        background-color: black;
    }